@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700;900&family=Merriweather:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  transition: 0.7s ease-out all;
}
a,
.a,
button {
  cursor: pointer;
}
button:hover {
  filter: saturate(80%);
}
a:hover,
.a:hover {
  opacity: 0.8;
}
p {
  color: rgba(7, 2, 17, 0.6);
  font-size: calc(100vw * 0.01666);
  font-weight: 400;
}
.pad {
  padding: calc(100vw * 0.07);
}
.banner {
  background: url("../images/Banner Image.png");
  background-size: contain;
  background-position: center center;
  height: auto;
  aspect-ratio: 11/5;
  font-family: Merriweather;
}
.banner-container {
  border-radius: 16px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-subtitle {
  color: #fff;
  font-size: calc(100vw * 0.027);
  font-weight: 400;
}
.banner-title {
  color: #fff;
  font-size: calc(100vw * 0.06);
  font-weight: 900;
  width: 60%;
  margin: calc(100vw * 0.025) auto 0;
}
.hot-deal {
  font-family: Inter;
  text-align: center;
  padding: auto 0;
}
.discount-rate {
  color: #f00;
  font-size: calc(100vw * 0.073);
  font-weight: 700;
  margin-bottom: calc(100vw * 0.03);
}
.discount-subtitle {
  color: #f00;
  font-size: calc(100vw * 0.02);
  font-weight: 500;
  margin-bottom: calc(100vw * 0.02);
}
.discount-title {
  color: #070211;
  font-size: calc(100vw * 0.04);
  font-weight: 700;
}
.hot-deal img {
  width: 66%;
  margin-top: calc(100vw * 0.04);
}
.party {
  height: auto;
  aspect-ratio: 11/5;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(9, 9, 121, 0) 80%,
      rgba(9, 9, 121, 0) 100%
    ),
    url("../images/Vectorrr.png") no-repeat;
  background-size: cover;
  background-position: center, center center;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: calc(100vw * 0.11);
  box-sizing: border-box;
  overflow: hidden;
}
.party img {
  width: calc(100vw * 0.2);
}
.party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: calc(100vw * 0.04);
  font-weight: 900;
  letter-spacing: calc(100vw * 0.0058);
}
.party-container {
  width: 60%;
}
.description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: calc(100vw * 0.015);
  font-weight: 400;
}
.party-description {
  margin-top: calc(100vw * 0.015);
}
.join {
  color: #fff;
  font-family: Inter;
  font-size: calc(100vw * 0.016);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  left: calc(100vw * 0.026);
  top: calc(100vw * 0.036);
}
.party-address {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.24413515406162467) 0%,
    rgba(255, 0, 0, 0.05085784313725494) 100%
  );
  padding: calc(100vw * 0.08) 0;
  border-radius: 16px;
  margin: calc(100vw * 0.1) 0;
}
.address {
  color: #070211;
  font-size: calc(100vw * 0.035);
  font-weight: 600;
  text-transform: capitalize;
  line-height: calc(100vw * 0.05);
}
.primary-color {
  color: #f00;
}
.btn-primary {
  padding: calc(100vw * 0.013) calc(100vw * 0.026);
  border-radius: 8px;
  background: #f00;
  border: 0;
  color: white;
  font-weight: bold;
  margin-top: calc(100vw * 0.04);
  font-size: calc(100vw * 0.013);
}
.portfolio-subtitle {
  color: #f00;
  font-family: Inter;
  font-size: calc(100vw * 0.02);
  font-weight: 500;
}
.portfolio-title {
  color: #070211;
  font-family: Merriweather;
  font-size: calc(100vw * 0.04);
  font-weight: 900;
  text-transform: capitalize;
  margin-top: calc(100vw * 0.0133);
}
.portfolio-description {
  width: 70%;
  color: rgba(7, 2, 17, 0.6);
  margin-top: calc(100vw * 0.0183);
}
.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(100vw * 0.02);
  margin-top: calc(100vw * 0.04);
}
.img-container img {
  width: 100%;
  transition: 0.2s ease-in-out transform;
  box-sizing: border-box;
  border-radius: 16px;
  cursor: pointer;
}
.img-container img:hover {
  transform: scale(0.95);
  border: 5px solid #f00;
  filter: saturate(150%);
}
.subscribe {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: calc(100vw * 0.0666) 0;
}
.mail-icon {
  width: calc(100vw * 0.125);
}
.subscribe {
  margin: calc(100vw * 0.1) auto;
}
.subscribe-title {
  color: #070211;
  font-family: Merriweather;
  font-size: calc(100vw * 0.04);
  font-weight: 900;
  text-transform: capitalize;
  margin: calc(100vw * 0.033) auto calc(100vw * 0.0183);
}
.subscribe-description {
  color: rgba(7, 2, 17, 0.6);
  width: 60%;
  margin: 0 auto;
}
.subscribe form {
  margin-top: calc(100vw * 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe form * {
  display: inline;
  padding: calc(100vw * 0.013) calc(100vw * 0.02);
  font-size: calc(100vw * 0.015);
  margin: 0;
  border: 0;
  outline: 0;
  border: 1px solid #f00;
}
.subscribe form input {
  border-radius: 16px 0 0 16px;
}
.subscribe form button {
  border-radius: 0 16px 16px 0;
  background: #f00;
  color: white;
}
footer {
  background: #070211;
  color: white;
}
.contact-container {
  display: flex;
  justify-content: space-between;
}
.contact {
  font-family: Inter;
  font-size: calc(100vw * 0.02);
  font-weight: 500;
  line-height: calc(100vw * 0.033);
}
footer hr {
  margin: calc(100vw * 0.036);
  border: 0.5px solid gray;
  opacity: 0.3;
}
.social-container {
  display: flex;
  justify-content: center;
  gap: calc(100vw * 0.02);
}
.social-container img {
  height: calc(100vw * 0.053);
  cursor: pointer;
  filter: saturate(0);
  border: 0;
  box-sizing: border-box;
  border-radius: 100%;
}
.social-container img:hover {
  filter: saturate(100%);
  border: calc(100vw * 0.01333) solid white;
}
.copy-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Inter;
  font-size: calc(100vw * 0.02);
  font-weight: 500;
  text-decoration: none;
}
/* bonus section started*/
.best-offers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(100vw * 0.08);
  margin-bottom: calc(100vw * 0.1);
  box-sizing: border-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.best-offers::-webkit-scrollbar {
  display: none;
}
.offer-subtitle {
  color: #f00;
  font-family: Inter;
  font-size: calc(100vw * 0.02);
  font-weight: 500;
}
.offer-title {
  color: #070211;
  font-family: Merriweather;
  font-size: calc(100vw * 0.04);
  font-weight: 900;
  text-transform: capitalize;
  margin: calc(100vw * 0.0133) auto calc(100vw * 0.0184);
}
.offer-description {
  color: rgba(7, 2, 17, 0.6);
}
.offer-img-container {
  border: calc(100vw * 0.0113) solid #f00;
  border-radius: 100%;
  padding: calc(100vw * 0.02);
  height: calc(100vw * 0.38);
  box-sizing: border-box;
  aspect-ratio: 1;
}
.offer-img-container:hover {
  padding: calc(100vw * 0.01);
}
.offer-img-container img {
  width: 100%;
}
.offer-time {
  color: #f00;
  font-family: Inter;
  font-size: calc(100vw * 0.04);
  font-weight: 700;
  margin-bottom: calc(100vw * 0.0166);
}
.offer-image img {
  margin-top: calc(100vw * 0.036);
  width: 100%;
}
.holiday-deal {
  margin: calc(100vw * 0.1) 0;
  text-align: center;
}
.holiday-subtitle {
  color: #070211;
  font-family: Inter;
  font-size: calc(100vw * 0.02);
  font-weight: 500;
}
.holiday-title {
  color: #070211;
  font-family: Merriweather;
  font-size: calc(100vw * 0.06);
  font-weight: 900;
  margin: calc(100vw * 0.0133) auto calc(100vw * 0.0233);
}
.holiday-description {
  width: 80%;
  margin: 0 auto;
  color: rgba(7, 2, 17, 0.6);
}
.holiday-deal-img-container {
  position: relative;
  margin-top: calc(100vw * 0.0533);
  overflow: hidden;
}
.img-section1 {
  position: relative;
  background: url("../images/Rectangle\ 1.png");
  aspect-ratio: 1;
  width: 40%;
  background-size: cover;
  background-position: center center;
  border-radius: 16px 16px 0 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}
@keyframes hot-deal-img {
  50% {
    transform: translate(50%, 0) scale(1.1);
    filter: saturate(80%);
  }
}
.img-section1 img {
  position: absolute;
  left: -50%;
  transform: translate(50%, 0);
  width: 50%;
  animation: hot-deal-img 1s infinite;
}
.img-section2 {
  background: #f00;
  border-radius: 16px;
  border-top-right-radius: 0;
  aspect-ratio: 1320/230;
  position: relative;
  overflow: visible;
}
.img-section2 img {
  position: absolute;
  top: -200%;
  left: 0;
  width: 50%;
}
